
<div>
  <!-- Nav tabs -->
  <nav class="navbar navbar-expand px-0 mt-5">
    <span class="navbar-text"><h1 class="h5">Podcast Directory</h1></span>
    <ul class="nav nav-pills ml-auto" id="episodesTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" role="tab"
           id="directory-matrix-tab" href="#directory-matrix"
           data-toggle="tab" aria-controls="directory-matrix" aria-selected="false">
          <span class="oi oi-grid-three-up"></span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" role="tab"
           id="directory-richlist-tab" href="#directory-richlist"
           data-toggle="tab" aria-controls="directory-richlist" aria-selected="true">
          <span class="oi oi-list-rich"></span>
        </a>
      </li>
    </ul>
  </nav>


  <!-- Tab panes -->
  <div class="tab-content" id="directoryTabContent">

    <div class="tab-pane fade show active" role="tabpanel"
         id="directory-matrix" aria-labelledby="directory-matrix-tab">

      <app-podcast-matrix [podcasts]="podcasts"></app-podcast-matrix>

    </div>

    <div class="tab-pane fade" role="tabpanel"
         id="directory-richlist" aria-labelledby="directory-richlist-tab">

      <app-podcast-richlist [podcasts]="podcasts"></app-podcast-richlist>

    </div>

  </div>
</div>
