/* You can add global styles to this file, and also import other style files */

body {
    color: #000;
    font-family: "Gill Sans", Helvetica, sans-serif;
    font-size: 14px;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
}