
<nav class="navbar navbar-expand px-0">
  <button type="button" class="btn btn-link btn-sm" (click)="goBack()" style="padding-left: 0px;"><span aria-hidden="true">&laquo;</span> Back</button>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/search">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/podcast-directory">Directory</a>
    </li>
  </ul>
</nav>


<div class="text-center my-5">
  <img class="w-75"
       src="{{podcast.itunesImage}}"
       alt="Generic placeholder image">
</div>


<h1 class="h5 my-3">
  {{podcast.title}}
</h1>

<div class="mb-3">
  <small class="text-muted">
    <span *ngIf="podcast.pubDate">
      <span class="oi oi-calendar"></span>
      <span class="mr-2">{{podcast.pubDate | date: 'd MMM yyyy' }}</span>
    </span>
  </small>
</div>

<p class="mb-1"
   [innerHTML]="podcast.description">
</p>

<p class="my-3">
  <a href="{{podcast.link}}">
    <small class="text-muted"><span class="oi oi-link-intact"></span></small>
    {{podcast.link}}
  </a>
</p>


<!--
<div class="list-group">

  <ng-container *ngFor="let episode of episodes">
    <a class="list-group-item list-group-item-action flex-column align-items-start clickable">


      <div role="tab" [attr.id]="'collapseListItemHeading-'+ episode.echoId">



      </div>

    </a>

    <div class="collapse" role="tabpanel"
         [attr.id]="'collapseListItem-'+ episode.echoId"
         [attr.aria-labelledby]="'collapseListGroupHeading'+ episode.echoId">

      <div class="media">
        <img class="episode-thumb mr-3"
             src="{{episode.itunesImage}}"
             alt="Generic placeholder image">
        <div class="media-body">
          <p class="mb-1" [innerHTML]="episode.description"></p>
        </div>
      </div>

    </div>

  </ng-container>



</div>
-->


<div id="episode-table">
  <div class="panel list-group">

    <ng-container *ngFor="let episode of episodes">

      <a href="/e/{{episode.echoId}}"
         class="list-group-item"
         data-toggle="collapse"
         [attr.data-target]="'#collapseListItem-'+ episode.echoId"
         data-parent="#episode-table">

        <h6 class="mb-1">{{episode.title}}</h6>

        <small class="text-muted">
          <span *ngIf="episode.pubDate">
              <span class="oi oi-calendar"></span>
              <span class="mr-2">{{episode.pubDate | date: 'd MMM yyyy' }}</span>
          </span>
          <span *ngIf="episode.itunesDuration">
            <span class="oi oi-timer"></span>
            <span class="mr-2">{{episode.itunesDuration}}</span>
          </span>
        </small>
      </a>

      <div class="collapse my-4"
           [attr.id]="'collapseListItem-'+ episode.echoId">

        <div class="media  my-3">
          <img class="episode-thumb mr-3"
               src="{{episode.itunesImage}}"
               alt="Generic placeholder image">
          <div class="media-body">
            <p [innerHTML]="episode.description"></p>
          </div>
        </div>

      </div>

    </ng-container>

  </div>
</div>



<!--
<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th scope="col" style="width:70%;">Title</th>
    <th scope="col" style="text-align:center; width:15%;"><small><span class="oi oi-calendar"></span></small><span class="sr-only">Date</span></th>
    <th scope="col" style="text-align:center; width:15%;"><small><span class="oi oi-timer"></span></small><span class="sr-only">Duration</span></th>
  </tr>
  </thead>

  <tbody >

  <ng-container *ngFor="let episode of episodes">
    <tr class="clickable"
        data-toggle="collapse"
        [attr.data-target]="'#group-of-rows-'+ episode.echoId"
        aria-expanded="false"
        [attr.aria-controls]="'group-of-rows-'+ episode.echoId">
      <td><a href="/e/{{episode.echoId}}">{{episode.title}}</a></td>
      <td class="text-right">
        <small *ngIf="episode.pubDate">{{episode.pubDate | date: 'd.MM.yyyy'}}</small>
      </td>
      <td class="text-right">
        <small *ngIf="episode.itunesDuration">{{episode.itunesDuration}}</small>
      </td>
    </tr>

    <tr class="collapse"
        [attr.id]="'group-of-rows-'+ episode.echoId">

      <td colspan="3">
        <div class="media my-2">
          <img class="episode-thumb mr-3"
               src="{{episode.itunesImage}}"
               alt="Generic placeholder image">

          <div class="media-body">
            <h5 class="mt-0">
              {{episode.title}}
            </h5>
            <p class="mb-1" [innerHTML]="episode.description"></p>
          </div>
        </div>
      </td>
    </tr>

  </ng-container>

  </tbody>

</table>
-->
