.selected {
    background-color: #CFD8DC !important;
    color: white;
  }

  .results {
    list-style-type: none;
    -webkit-padding-start: 0;
  }
  .results li {
    cursor: pointer;
    margin: .5em;
    padding: .3em 0;
  }

  .results li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .results li:hover {
    background-color: #BBD8DC;
    left: .1em;
  }