
.list-group-item, .list-group-item-action {
  border: none;
  color: black;
}

.media-body > h5.mt-0 {
  font-size: 1.1rem;
  font-weight: bold;
}

img.mr-3 {
  width: 64px;
}

#search-box {
  border-radius: 0;
}