
      <!--
      <p>
          <i>every podcast leaves an echo. you've just got to find it...</i>
      </p>
      -->
      <div class="input-group input-group my-5">
        <input #searchBox id="search-box"
          (keyup.enter)="search(searchBox.value)"
          type="text" class="form-control"
          placeholder="every podcast leaves an echo. find it...">
      </div>

      <!--
      <div *ngIf="query">
        <p>Search results for '{{query}}':</p>
      </div>
      -->

      <ul class="list-unstyled">

        <li *ngFor="let result of results"
            (click)="onSelect(result)"
            class="media mb-5" >

              <img class="mr-3"
                   src="{{result.itunesImage}}"
                   alt="Generic placeholder image">
              <div class="media-body">

                <h5 class="mt-0">
                  <a *ngIf="result.docType === 'podcast'" routerLink="/p/{{result.echoId}}">{{result.title}}</a>
                  <a *ngIf="result.docType === 'episode'" routerLink="/e/{{result.echoId}}">{{result.title}}</a>
                </h5>
                <p class="mb-1">

                  <small class="text-muted">
                    <span *ngIf="result.pubDate">
                      <span class="oi oi-calendar"></span>
                      <span class="mr-2">{{result.pubDate | date: 'd MMM yyyy' }}</span>
                    </span>

                    <span class="badge badge-secondary text-uppercase">{{result.docType}}</span>

                    <fa [name]="calendar-alt"></fa>
                    <fa [name]="'rocket'"></fa>
                    <!-- rendered -->
                    <fa>
                      <i class="fa fa-rocket"></i>
                    </fa>

                    <i fa [name]="'rocket'"></i>
                    <!-- rendered -->
                    <i fa class="fa fa-rocket"></i>

                  </small>

                </p>
                <p class="mb-1" [innerHTML]="result.description"></p>
                <p>
                  <a href="{{result.link}}">
                    <small class="text-muted"><span class="oi oi-link-intact"></span></small>
                    {{result.link}}
                  </a>
                </p>


              </div>


        </li>
      </ul>
