
      <!--
      <p>
          <i>every podcast leaves an echo. you've just got to find it...</i>
      </p>
      -->
      <div class="input-group input-group my-5">
        <input #searchBox id="search-box"
          (keyup.enter)="search(searchBox.value)"
          type="text" class="form-control"
          placeholder="every podcast leaves an echo. find it...">
      </div>
          
      <ul class="list-group">

        <li *ngFor="let result of results" 
            (click)="onSelect(result)" 
            class="list-group-item list-group-item-action mb-5" >

            <div class="media">
              <img class="mr-3"
                   src="{{result.itunesImage}}" 
                   alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">{{result.title}}</h5>
                <p class="mb-1">{{result.pubDate}}</p>
                <p class="mb-1" [innerHTML]="result.description"></p>
                <p><a href="{{result.link}}">{{result.link}}</a></p>
              </div>
            </div>
           
        </li>
      </ul>
