
<div class="text-center my-3">
  <img src="{{episode.itunesImage}}"
       alt="Generic placeholder image"
       style="max-width: 70%; height: auto;">
</div>


<h1 class="h5 my-5">
  {{episode.title}}
</h1>

<div class="my-3">
  <small class="text-muted">
    <span *ngIf="episode.pubDate">
      <span class="oi oi-calendar"></span>
      <span class="mr-2">{{episode.pubDate | date: 'd MMM yyyy' }}</span>
    </span>
  </small>
</div>

<p class="mb-1"
   [innerHTML]="episode.description">

</p>

<p class="my-3">
  <a href="{{episode.link}}">
    <small class="text-muted"><span class="oi oi-link-intact"></span></small>
    {{episode.link}}
  </a>
</p>

<button (click)="goBack()">go back</button>
