<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th scope="col" style="width:70%;">Title</th>
    <th scope="col" style="text-align:center; width:15%;"><small><span class="oi oi-calendar"></span></small><span class="sr-only">Date</span></th>
    <th scope="col" style="text-align:center; width:15%;"><small><span class="oi oi-timer"></span></small><span class="sr-only">Duration</span></th>
  </tr>
  </thead>

  <tbody >

  <ng-container *ngFor="let episode of episodes">
    <tr class="clickable"
        data-toggle="collapse"
        [attr.data-target]="'#group-of-rows-'+ episode.echoId"
        aria-expanded="false"
        [attr.aria-controls]="'group-of-rows-'+ episode.echoId">
      <td><a href="/e/{{episode.echoId}}">{{episode.title}}</a></td>
      <td class="text-right"><small *ngIf="episode.pubDate">{{episode.pubDate | date: 'd.MM.yyyy'}}</small></td>
      <td class="text-right"><small *ngIf="episode.itunesDuration">{{episode.itunesDuration}}</small></td>
    </tr>

    <tr class="collapse" [attr.id]="'group-of-rows-'+ episode.echoId">
      <td colspan="3"><app-episode-teaser [episode]="episode"></app-episode-teaser></td>
    </tr>
  </ng-container>

  </tbody>

</table>
